.App {
  display: flex;
}

.Main {
  background-color: var(--light-blue);
  flex-basis: 80%;
  padding: var(--container-padding);
}

.Sidebar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
}