:root {
  --blue : #2196F3;
  --light-blue: #BBDEFB;
  --green: #4CAF50;
  --light-green: #C8E6C9;
  --red: #F44336;
  --light-red: #FFCDD2;
  --main-font-color: #2b2b2b;
  --main-body-font: Roboto, Helvetica, Arial, sans-serif;
  --main-header-font: "Open Sans", Helvetica, Arial, sans-serif;
  --container-padding: 30px 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-body-font);
  color: var(--main-font-color)
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-header-font)
}

.btn-success {
  background-color: var(--light-green)!important;
  transition: .3s ease-out;
  
}

.btn-success:hover, .btn-success:active {
  background-color: var(--green)!important;
  color: white!important
}